/* section */
.new-tweet {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 1rem;
  
}

.compose__tweet {
  position: relative;
  
  display: grid;
}

textarea {
  background-color:  #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: auto;
  resize: none;
  border-style: none;
  border-bottom-style: solid;
  border-width: thick;
  outline: none;
  color: #545149;
}


textarea::placeholder {
  color: #545149;
  opacity: 1;
}

button {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  margin-top: 10px;
}

span.counter {
  font-family: 'Bungee', sans-serif;
  color: #545149;
  border-top: 10px;
  float: right;
} 

/* red font when words count exceeds 140 char */
.red {
  color: red;
}  
